variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "04"
}

variable "f5xc_namespace" {
  type    = string
  default = "system"
}

variable "f5xc_azure_region" {
  type    = string
  default = "eastus"
}

variable "f5xc_api_p12_file" {
  type    = string
}

variable "f5xc_api_url" {
  type    = string
}

variable "f5xc_tenant" {
  type    = string
}

variable "f5xc_api_token" {
  type    = string
}

variable "f5xc_azure_cred" {
  type    = string
  default = "sun-az-creds"
}

variable "azure_client_id" {
  type    = string
}

variable "azure_client_secret" {
  type    = string
}

variable "azure_tenant_id" {
  type    = string
}

variable "azure_subscription_id" {
  type    = string
}

variable "provisioner_connection_type" {
  type    = string
  default = "ssh"
}

variable "azure_zones" {
  type    = list(number)
  default = [1]
}

variable "ssh_public_key_file" {
  type    = string
}

variable "ssh_private_key_file" {
  type    = string
}

variable "owner_tag" {
  type    = string
  default = "c.klewar@f5.com"
}

data "http" "host_ip" {
  url = "http://ifconfig.me"
}

locals {
  script_client_content = templatefile("./templates/client.tftpl", {
    "server_ip" = module.azure_virtual_machine_spoke_b.virtual_machine["private_ip"]
  })
  script_server_content = templatefile("./templates/server.tftpl", {})

  custom_tags = {
    Owner                  = var.owner_tag
    f5xc-tenant            = var.f5xc_tenant
    f5xc-feature           = "azure-vnet-hub-spoke-peering"
    f5xc-ves-io-creator-id = var.owner_tag
  }
}